@font-face {
  font-family: "iconfont"; /* Project id 3990411 */
  src: url('iconfont.woff2?t=1680396925680') format('woff2'),
       url('iconfont.woff?t=1680396925680') format('woff'),
       url('iconfont.ttf?t=1680396925680') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-confirm:before {
  content: "\e606";
  color: #006eff;
  font-size: 55px;
}

.icon-Editwritedraft:before {
  content: "\e9d8";
}

